#container{
  min-height: 500px;
}

.form-field {
  font-size: 14px;
  border-radius: 0px;
  border: 1px gray solid;
  color: black;
}

.form select {
  background: white;
  margin-left: 10px;
}

.form button {
  background-color: lightblue;
  margin-left: 10px;
}

.form-field:active, .form-field:focus {
  outline: 1px blue solid;
}

button:hover {
  cursor: pointer;
}

#party {
  margin-top: 10px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.cat {
  margin: 20px 20px 20px 20px;
  border-radius: 50%;
}

.bounce {
  animation: bounce infinite 0.5s linear alternate;
}

@keyframes bounce {
  from {
    transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
   }
  to {
    transform: translateX(10px);
    -ms-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -webkit-transform: translateX(10px);
  }
}

.spin {
  animation: spin infinite 2s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

.flip {
  animation: flip infinite 2s linear;
}

@keyframes flip {
  from {
    transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
  }
}

.blink {
  animation: blink infinite 2s linear alternate;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media only screen and (min-width: 900px) {
  #party {
    flex-flow: row wrap;
    justify-content: center;
  }

  @keyframes bounce {
    from {
      transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      -moz-transform: translateY(-10px);
      -webkit-transform: translateY(-10px);
    }
    to {
      transform: translateY(10px);
      -ms-transform: translateY(10px);
      -moz-transform: translateY(10px);
      -webkit-transform: translateY(10px);
    }
  }
}
